.App {
    font-family: 'Oxygen', sans-serif;
    height: 100%;
    background: rgb(255, 13, 5);
    background: linear-gradient(
      180deg,
      rgba(238, 69, 64, 1) 0%,
      rgba(199, 44, 65, 1) 15%,
      rgba(128, 19, 54, 1) 30%,
      rgba(81, 10, 50, 1) 45%,
      rgb(228, 0, 220) 100%
    );
  }
  
  footer {
    grid-area: footer;
    background-color: #203040;
    color: #ffffff;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .row.center {
    justify-content: center;
  }